form{
    width: 540px;
    height: 400px;
    font-size: 16px;
    background-color:#ffc0cb ;
}
fieldset{
    border:none;
    padding: 15px;
}
legend{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
input{
    font-size: 17px;
    padding: 3px;
}
select{
    width: 240px;
    margin: 5px;
    height: 35px;
    font-size: 17px;
}
input[type="text"]{
    width: 230px;
    margin: 5px;
    height: 30px;
}
label{
    display: inline-block;
    font-style: italic;
    margin:8px 90px 8px 0;

}
#preferDirects{
    display: inline-block;
    margin-left: 253px;
    padding: 15px;
}
.fromTo{
    padding-right: 190px;
    margin: 8px;
    font-style: italic;
}
.departureDate{
    padding-right: 125px;
    font-style: italic;
    margin: 8px;
}
.returnDate{
    padding-right: 150px;
    font-style: italic;
    margin: 8px;
}
.numbers{
    padding-right: 38px;
    font-style: italic;
    margin: 8px;
}
input[name="interval"]{
    width: 103px;
    margin: 5px;
    height: 30px;
}
input[type="number"]{
    width: 60px;
    margin: 5px;
    height: 30px;
}
input[type="button"]{
    width: 240px;
    height: 40px;
    margin-left: 258px;
}
