body{
    width:100%;
    margin: 0;
    padding: 0;
    background-image: url("colorful_dots_on_black.jpg");
    background-repeat: repeat;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;

}
body > header{
    background: linear-gradient(to right,red,red 33.3%,green 33.3%, green 67.7%,blue 67.7%);
    text-align: center;
    height: 44px;
    font-size:26px;
    font-weight: bold;
    color: #fdfd01;
}

body aside{
    display: block;
    position: fixed ;
    background-color: rgba(251, 229, 248, 0.9);
    margin:15px;
    width: 15%;
    float: left;
    border-radius: 15px;


}
body aside ul li{
    color: #7f7f80;
    padding: 2px;
}
body aside header{
    margin-left: 15px;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}
body section{
    width: 60%;
    float: left;
    position: relative;
    left: 20%;
}

article{
    background-color: rgba(251, 229, 248, 0.9);
    margin: 15px;
    padding: 12px;
    border-radius: 15px;
}
#webColors{
    background-color: red;
    color:#f5e0fd;;
}
#webSafeColors{
    background-color: #fda401;
}
#RGB{
    background-color: #fdfd01;
}
#RGBA{
    background-color: #007f01;
    color:#f5e0fd;;
}
#HSLHSV{
    background-color: #0000fe;
    color:#f5e0fd;;
}
#lorem{
    background-color: #7f0080;
    color:#f5e0fd;;
}
body section header{
    font-size: 18px;
    padding: 5px;
    margin:5px;
    border-radius: 5px;

}
body section div:first-letter{
    font-size: 40px;
    font-weight: bold;
}
body section div:first-line{
    font-style: italic;
}
.la:first-letter{
    font-size: 40px;
    font-weight: bold;
}
body section a{
    color: #7f7f80;
    font-style: italic;
    text-decoration: underline;
}
body ul li a{
    color: #7f7f80;
    text-decoration: none;
}
body ul li a:visited{
    color: #7f7f80;
    text-decoration: none;
}

body ul{
    padding-left: 15px;
    margin: 0;
}

body ul li{
    float:left;
    width: 90%;
    border-radius: 5px;
    list-style-position: inside;
    list-style-image: url("bullet02.png");
}
body ul li a{
    text-decoration: none;
    pading:5px;
}
body ul li:nth-child(1):hover{
    background-color: red;
}

body ul li:nth-child(2):hover{
    background-color: #fda401;
}

body ul li:nth-child(3):hover{
    background-color: #fdfd01;
}

body ul li:nth-child(4):hover{
    background-color: #007f01;
}

body ul li:nth-child(5):hover{
    background-color: #0000fe;
}

body ul li:nth-child(6):hover{
    background-color: #7f0080;
}
